# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit agent skills
.agents/

# VS Code settings (optional)
.vscode/

# macOS files
.DS_Store
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
